<% if @criminalizations.present? %>
  <div class="flex w-full mx-auto mt-4 justify-between">
    <h2 class="font-bold text-l text-gray-900">Criminalizations</h2>
    <%= link_to 'Add New', new_documenters_case_detail_criminalization_path(case_detail), class: "mr-4 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" %>
  </div>
  <div class="border-t border-gray-200 my-4"></div>

  <% @criminalizations.each_with_index do |criminalization, indx| %>
  <div class="flex w-full mx-auto justify-between">
    <h2 class="font-bold text-l text-gray-900 mt-4">Case #<%=indx.succ %> </h2>
    <%= link_to "Edit", edit_documenters_case_detail_criminalization_path(case_detail_id: case_detail.id, id: criminalization.id), class: "mr-4 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" %>
  </div>
    <div class="grid grid-cols-1 md:grid-cols-12">
      <div class="col-span-3 ml-4 mt-2">
        <p class="block mb-2 text-sm font-medium text-gray-900"> Why was/were the victim/s criminalized? </p>
      </div>
      <div class="col-span-1">
      </div>
      <div class="col-span-7 mt-2">
        <p class="text-gray-500"> <%= criminalization.criminalization_details %> </p>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-12 mt-2">
      <div class="col-span-3 ml-4 mt-2 mr-2">
        <p class="block mb-2 text-sm font-medium text-gray-900"> Did the victim/s experience any form of harassment or intimidation prior to criminalization? </p>
      </div>
      <div class="col-span-1">
      </div>
      <div class="col-span-7 mt-2">
        <p class="text-gray-500"> <%= criminalization.experienced_harrassment_or_intimidation %> </p>
        <p class="text-gray-500"> <%= criminalization.harrassment_or_intimidation_details %> </p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 mt-2">
      <div class="col-span-3 ml-4 mt-2 mr-2">
        <p class="block mb-2 text-sm font-medium text-gray-900"> What was/were the accusation/s or charge/s filed against the victim/s?</p>
      </div>
      <div class="col-span-1">
      </div>
      <div class="col-span-7 mt-2">
        <p class="text-gray-500"> <%= criminalization.accusation_or_charges_details %> </p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 mt-2">
      <div class="col-span-3 ml-4 mt-2 mr-2">
        <p class="block mb-2 text-sm font-medium text-gray-900"> What was/were the policy/ies or law/s or institutional justification/s used against the victim/s?</p>
      </div>
      <div class="col-span-1">
      </div>
      <div class="col-span-7 mt-2">
        <p class="text-gray-500"> <%= criminalization.policies_or_laws_used %> </p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 mt-2">
      <div class="col-span-3 ml-4 mt-2 mr-2">
        <p class="block mb-2 text-sm font-medium text-gray-900"> Who put forward the accusation/s or charge/s against the victim/s?</p>
      </div>
      <div class="col-span-1">
      </div>
      <div class="col-span-7 mt-2">
        <p class="text-gray-500"> <%= criminalization.accuser_categories.pluck(:title).join(", ") %> </p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 mt-2">
      <div class="col-span-3 ml-4 mt-2 mr-2">
        <p class="block mb-2 text-sm font-medium text-gray-900"> Please provide more information about the accusers</p>
      </div>
      <div class="col-span-1">
      </div>
      <div class="col-span-7 mt-2">
        <p class="text-gray-500"> <%= criminalization.accuser_details %> </p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 mt-2">
      <div class="col-span-3 ml-4 mt-2 mr-2">
        <p class="block mb-2 text-sm font-medium text-gray-900"> Was/were the accusation/s or charge/s against the victim legally or formally filed?</p>
      </div>
      <div class="col-span-1">
      </div>
      <div class="col-span-7 mt-2">
        <p class="text-gray-500"> <%= criminalization.case_filing_status %> </p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 mt-2">
      <div class="col-span-3 ml-4 mt-2 mr-2">
        <p class="block mb-2 text-sm font-medium text-gray-900"> Where was the case/s filed? (e.g., regional court, military court, supreme court, etc.)? </p>
      </div>
      <div class="col-span-1">
      </div>
      <div class="col-span-7 mt-2">
        <p class="text-gray-500"> <%= criminalization.case_filing_details %> </p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 mt-2">
      <div class="col-span-3 ml-4 mt-2 mr-2">
        <p class="block mb-2 text-sm font-medium text-gray-900"> Is there a decision on the legal or formal accusation/s or charge/s filed against the victim/s?</p>
      </div>
      <div class="col-span-1">
      </div>
      <div class="col-span-7 mt-2">
        <p class="text-gray-500"> <%= criminalization.case_decision_status %> </p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 mt-2">
      <div class="col-span-3 ml-4 mt-2 mr-2">
        <p class="block mb-2 text-sm font-medium text-gray-900"> Please provide more information on the decision on the legal or formal accusation/s or charge/s filed against the victim/s. </p>
      </div>
      <div class="col-span-1">
      </div>
      <div class="col-span-7 mt-2">
        <p class="text-gray-500"> <%= criminalization.case_decision_details %> </p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 mt-2">
      <div class="col-span-3 ml-4 mt-2 mr-2">
        <p class="block mb-2 text-sm font-medium text-gray-900"> Is/Are the victim/s in prison or detention facility? </p>
      </div>
      <div class="col-span-1">
      </div>
      <div class="col-span-7 mt-2">
        <p class="text-gray-500"> <%= criminalization.victims_in_detention %> </p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 mt-2">
      <div class="col-span-3 ml-4 mt-2 mr-2">
        <p class="block mb-2 text-sm font-medium text-gray-900"> Please provide more information on the current situation of the victim/s</p>
      </div>
      <div class="col-span-1">
      </div>
      <div class="col-span-7 mt-2">
        <p class="text-gray-500"> <%= criminalization.victims_in_detention_details %> </p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 mt-2">
      <div class="col-span-3 ml-4 mt-2 mr-2">
        <p class="block mb-2 text-sm font-medium text-gray-900"> Was/Were there (a) legal case/s filed against the alleged perpetrators on behalf of the victim/s criminalized?</p>
      </div>
      <div class="col-span-1">
      </div>
      <div class="col-span-7 mt-2">
        <p class="text-gray-500"> <%= criminalization.case_filing_against_perpetrator %> </p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 mt-2">
      <div class="col-span-3 ml-4 mt-2 mr-2">
        <p class="block mb-2 text-sm font-medium text-gray-900"> Please provide further information: Where is/are the case/s filed? Who filed the case? </p>
      </div>
      <div class="col-span-1">
      </div>
      <div class="col-span-7 mt-2">
        <p class="text-gray-500"> <%= criminalization.case_filing_against_perpetrator_details %> </p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 mt-2">
      <div class="col-span-3 ml-4 mt-2 mr-2">
        <p class="block mb-2 text-sm font-medium text-gray-900"> Has the State undertaken any action/s to address the incident of criminalization? </p>
      </div>
      <div class="col-span-1">
      </div>
      <div class="col-span-7 mt-2">
        <p class="text-gray-500"> <%= criminalization.state_action_to_address_criminalization %> </p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 mt-2">
      <div class="col-span-3 ml-4 mt-2 mr-2">
        <p class="block mb-2 text-sm font-medium text-gray-900"> Please provide more information on the action/s undertaken, including any relevant results </p>
      </div>
      <div class="col-span-1">
      </div>
      <div class="col-span-7 mt-2">
        <p class="text-gray-500"> <%= criminalization.state_action_to_address_criminalization_details %> </p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 mt-2">
      <div class="col-span-3 ml-4 mt-2 mr-2">
        <p class="block mb-2 text-sm font-medium text-gray-900"> Has there been any investigation/s on the incident of criminalization? </p>
      </div>
      <div class="col-span-1">
      </div>
      <div class="col-span-7 mt-2">
        <p class="text-gray-500"> <%= criminalization.investigation_on_criminalization %> </p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 mt-2">
      <div class="col-span-3 ml-4 mt-2 mr-2">
        <p class="block mb-2 text-sm font-medium text-gray-900"> Please provide additional information on the investigation, including relevant date/s and institutions/ office/s or representative/s involved </p>
      </div>
      <div class="col-span-1">
      </div>
      <div class="col-span-7 mt-2">
        <p class="text-gray-500"> <%= criminalization.investigation_on_criminalization_details %> </p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 mt-2">
      <div class="col-span-3 ml-4 mt-2 mr-2">
        <p class="block mb-2 text-sm font-medium text-gray-900"> How did the incident/s affect the victim/s and his/her/their family? </p>
      </div>
      <div class="col-span-1">
      </div>
      <div class="col-span-7 mt-2">
        <p class="text-gray-500"> <%= criminalization.impact_to_victim_details %> </p>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-12 mt-2">
      <div class="col-span-3 ml-4 mt-2 mr-2">
        <p class="block mb-2 text-sm font-medium text-gray-900"> How did the incident/s affect the Indigenous Peoples group/s or community/ies and/or organization of the victim/s? </p>
      </div>
      <div class="col-span-1">
      </div>
      <div class="col-span-7 mt-2">
        <p class="text-gray-500"> <%= criminalization.impact_to_community_details %> </p>
      </div>
    </div>

    <div class="border-t border-gray-200 my-4"></div>
  <% end %>
<% else %>
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="max-w-xl mx-auto">
      <div class="text-center">
        <p class="mt-1 text-gray-600 dark:text-neutral-400">
          No criminalizations found.<br><br>

           <%= link_to 'Add New', new_documenters_case_detail_criminalization_path(case_detail), class: "mr-4 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" %>
        </p>
      </div>
    </div>
  </div>
<% end %>

