<div class="md:col-span-6 mt-6 ml-2">
            <h2 class="font-bold text-xl text-gray-900">Case Details</h2>
<div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200">
    <ul class="flex flex-wrap -mb-px">
      <li class="mr-2">
          <a href="/documenters/case_details/<%=@case_detail.id %>" class="<%= "inline-block p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active" if current_page?(documenters_case_detail_path(@case_detail.id)) %>inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300">Data</a>
      </li>
      <li class="mr-2">
          <a href="/documenters/case_details/<%=@case_detail.id %>/victims" class="<%= "inline-block p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active" if current_page?(documenters_case_detail_victims_path(@case_detail.id)) %>inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300">Victims</a>
      </li>
      <li class="mr-2">
          <a href="/documenters/case_details/<%=@case_detail.id %>/criminalizations" class="<%= "inline-block p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active" if current_page?(documenters_case_detail_criminalizations_path(@case_detail.id)) %>inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300">Criminalizations <span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-red-500 text-white"><%= @case_detail.criminalizations_count %></span></a>
      </li>
      <li class="mr-2">
          <a href="/documenters/case_details/<%=@case_detail.id %>/killings" class="<%= "inline-block p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active" if current_page?(documenters_case_detail_killings_path(@case_detail.id)) %>inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300"> Killings <span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-red-500 text-white"><%= @case_detail.killings_count %></span></a>
      </li>
      <li class="mr-2">
          <a href="/documenters/case_details/<%=@case_detail.id %>/human_rights_violations" class="<%= "inline-block p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active" if current_page?(documenters_case_detail_human_rights_violations_path(@case_detail.id)) %>inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300">Other Human Rights Violations <span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-red-500 text-white"><%= @case_detail.human_rights_violations_count %></span></a>
      </li>
      <li class="mr-2">
          <a href="/documenters/case_details/<%=@case_detail.id %>/development_projects" class="<%= "inline-block p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active" if current_page?(documenters_case_detail_development_projects_path(@case_detail.id)) %>inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300">Development Projects</a>
      </li>
    </ul>

</div>
<% if current_page?(documenters_case_detail_path(@case_detail)) %>
  <%= render 'documenters/case_details/partials/profile', case_detail: @case_detail %>
<% end %>
<% if current_page?(documenters_case_detail_victims_path(case_detail)) %>
  <%= render 'documenters/case_details/partials/victims', case_detail: case_detail %>
<% end %>

<% if current_page?(documenters_case_detail_criminalizations_path(case_detail)) %>
  <%= render 'documenters/case_details/partials/criminalizations', case_detail: case_detail %>
<% end %>

<% if current_page?(documenters_case_detail_human_rights_violations_path(case_detail)) %>
  <%= render 'documenters/case_details/partials/human_rights_violations', case_detail: case_detail %>
<% end %>

<% if current_page?(documenters_case_detail_killings_path(case_detail)) %>
  <%= render 'documenters/case_details/partials/killings', case_detail: case_detail %>
<% end %>

<% if current_page?(documenters_case_detail_development_projects_path(case_detail)) %>
  <%= render 'documenters/case_details/partials/development_projects', case_detail: case_detail %>
<% end %>
