<header>
  <div class="flex justify-between p-5">
    <h1 class="text-l font-bold text-gray-900">Individual Victims</h1>
    <%= link_to 'Add Victim', new_documenters_case_detail_individual_victim_path(case_detail), class: "inline-flex py-2 px-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>
  </div>
</header>
<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="py-3 px-6">
            Full Name
        </th>
            <th scope="col" class="py-3 px-6">
            Age Bracket
        </th>
        <th scope="col" class="py-3 px-6">
            Gender
        </th>
        <th scope="col" class="py-3 px-6">
            Dependent Type
        </th>
        <th scope="col" class="py-3 px-6">
            Ethnic Identity
        </th>
        <th scope="col" class="py-3 px-6">
            Date of Birth
        </th>
      </tr>
    </thead>
    <tbody>
      <% case_detail.individual_victims.each do |individual_victim| %>
        <tr class="border-b">
            <td scope="row" class="text-blue-600 py-4 px-6 font-medium whitespace-nowrap">
              <%= link_to individual_victim.full_name, documenters_individual_victim_path(individual_victim.id) %>
            </td>
            <td class="py-4 px-6">
              <%= individual_victim.age_bracket_range_name %>
            </td>
            <td class="py-4 px-6">
              <%= individual_victim.gender&.titleize %>
            </td>
            <td class="py-4 px-6">
              <%= individual_victim.dependent_type&.titleize %>
            </td>
            <td class="py-4 px-6">
              <%= individual_victim.ethnic_identity %>
            </td>
            <td class="py-4 px-6">
              <%= individual_victim.date_of_birth %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<header>
  <div class="flex justify-between p-5">
    <h1 class="text-l font-bold text-gray-900">Collective Victims</h1>
    <%= link_to 'Add Victim', new_documenters_case_detail_collective_victim_path(case_detail), class: "inline-flex py-2 px-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>
  </div>
</header>
<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="py-3 px-6">
            Number of Affected People
        </th>
            <th scope="col" class="py-3 px-6">
            Male Total
        </th>
        <th scope="col" class="py-3 px-6">
            Female Total
        </th>
        <th scope="col" class="py-3 px-6">
            Details
        </th>
      </tr>
    </thead>
    <tbody>
      <% case_detail.collective_victims.each do |collective_victim| %>
        <tr class="bg-white border-b hover:bg-gray-50">
            <td scope="row" class="py-4 px-6 font-medium text-blue-600 whitespace-nowrap">
              <%= link_to collective_victim.affected_total, documenters_collective_victim_path(collective_victim.id) %>
            </td>
            <td class="py-4 px-6">
              <%= collective_victim.male_total || '-' %>
            </td>
            <td class="py-4 px-6">
              <%= collective_victim.female_total || '-' %>
            </td>
            <td class="py-4 px-6">
              <%= collective_victim.victim_details %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
