<div class="flex w-full mx-auto mt-4 justify-between mt-5">
  <h2 class="font-bold text-l text-gray-900 mt-4">Project Details</h2>
  <%= link_to "Edit", edit_development_project_path(@development_project), class: "mr-4 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" %>
</div>
  <div class="grid grid-cols-1 md:grid-cols-12">
    <div class="col-span-3 ml-4 mt-2">
      <p class="block mb-2 text-sm font-medium text-gray-900"> Project Name </p>
    </div>
    <div class="col-span-1">

    </div>
    <div class="col-span-7 mt-2">
      <p class="text-gray-500"><%= @development_project.name %></p>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-12">
    <div class="col-span-3 ml-4 mt-2">
      <p class="block mb-2 text-sm font-medium text-gray-900"> Description </p>
    </div>
    <div class="col-span-1">

    </div>
    <div class="col-span-7 mt-2">
      <p class="text-gray-500"><%= @development_project.description %></p>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-12">
    <div class="col-span-3 ml-4 mt-2">
      <p class="block mb-2 text-sm font-medium text-gray-900"> Year Started </p>
    </div>
    <div class="col-span-1">

    </div>
    <div class="col-span-7 mt-2">
      <p class="text-gray-500"> <%= @development_project.project_start_year %></p>
    </div>
  </div>

   <div class="grid grid-cols-1 md:grid-cols-12">
    <div class="col-span-3 ml-4 mt-2">
      <p class="block mb-2 text-sm font-medium text-gray-900"> Sources of Information  </p>
    </div>
    <div class="col-span-1">

    </div>
    <div class="col-span-7 mt-2">
      <p class="text-gray-500"> <%= @development_project.website_sources %></p>
    </div>
  </div>

<div class="border-t border-gray-200 my-4"></div>
    <div class="col-span-3 ml-4 mt-2">
      <p class="block mb-2 font-bold text-normal text-gray-900"> Parent Company Profile </p>
    </div>

        <div class="grid grid-cols-1 md:grid-cols-12">
          <div class="col-span-3 ml-4 mt-2">
            <p class="block mb-2 text-sm font-medium text-gray-900"> Company Name </p>
          </div>
          <div class="col-span-1">
          </div>
          <div class="col-span-7 mt-2">
            <p class="text-gray-500"> <%= @development_project.parent_company_name %></p>
          </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-12">
          <div class="col-span-3 ml-4 mt-2">
            <p class="block mb-2 text-sm font-medium text-gray-900"> Country of operation </p>
          </div>
          <div class="col-span-1">
          </div>
          <div class="col-span-7 mt-2">
            <p class="text-gray-500"> <%= @development_project.parent_company_country_name %></p>
          </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-12">
          <div class="col-span-3 ml-4 mt-2">
            <p class="block mb-2 text-sm font-medium text-gray-900"> Description of parent company </p>
          </div>
          <div class="col-span-1">
          </div>
          <div class="col-span-7 mt-2">
            <p class="text-gray-500"> <%= @development_project.parent_company_description %></p>
          </div>
        </div>

<div class="border-t border-gray-200 my-4"></div>
 <div class="col-span-3 ml-4 mt-2">
      <p class="block mb-2 font-bold text-normal text-gray-900"> Source of Funding Profile </p>
    </div>
<div class="grid grid-cols-1 md:grid-cols-12">
  <div class="col-span-3 ml-4 mt-2">
    <p class="block mb-2 text-sm font-medium text-gray-900"> Description of Source/s of Funding </p>
  </div>
  <div class="col-span-1">
  </div>
  <div class="col-span-7 mt-2">
    <p class="text-gray-500"> <%= @development_project.funding_source_description %></p>
  </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-12">
  <div class="col-span-3 ml-4 mt-2">
    <p class="block mb-2 text-sm font-medium text-gray-900">Source of Information on Funding Source </p>
  </div>
  <div class="col-span-1">
  </div>
  <div class="col-span-7 mt-2">
    <p class="text-gray-500"> <%= @development_project.funding_source_data_sources %></p>
  </div>
</div>
