<div class="max-w-7xl mx-auto px-10 mt-5 mb-5 py-10 bg-white shadow border-t-4 border-stone-200 space-y-10">
    <div class="flex flex-col md:flex-row md:items-center md:justify-between space-y-4 md:space-y-0">
      <div>
        <h1 class="text-xl font-bold text-gray-900"><%= @individual_victim.full_name.titleize %></h1>
      </div>
       <div class="flex space-x-3 justify-start md:justify-end">
     <%= link_to "Back", documenters_case_detail_individual_victims_path(@case_detail),
                class: "inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-gray-100 hover:bg-gray-200 rounded-lg" %>
    <%= link_to "Edit", edit_documenters_case_detail_individual_victim_path(id: @individual_victim.id, case_detail_id: @case_detail.id),
                class: "inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-stone-600 hover:bg-stone-700 rounded-lg" %>
   
  </div>
</div>

<div class="border-t border-gray-200 pt-2">
  <h2 class="text-lg font-semibold text-gray-800 mb-2">Gender</h2>
  <p class="text-gray-700">
    <%= @individual_victim.gender.presence || "-" %>
  </p>
</div>

<div class="border-t border-gray-200 pt-2">
  <h2 class="text-lg font-semibold text-gray-800 mb-2">Dependent Type</h2>
  <p class="text-gray-700 whitespace-pre-line">
    <%= @individual_victim.dependent_type.presence || "-" %>
  </p>
</div>

<div class="border-t border-gray-200 pt-6">
  <h2 class="text-lg font-semibold text-gray-800 mb-2">Name of Indigenous Peoples’ group or Ethnic Identity of victim</h2>
  <p class="text-gray-700 whitespace-pre-line">
    <%= @individual_victim.ethnic_identity.presence || "-" %>
  </p>
</div>

<div class="border-t border-gray-200 pt-6">
  <h2 class="text-lg font-semibold text-gray-800 mb-2">Date of Birth</h2>
  <p class="text-gray-700 whitespace-pre-line">
    <%= @individual_victim.date_of_birth.presence || "-" %>
  </p>
</div>

<div class="border-t border-gray-200 pt-6">
  <h2 class="text-lg font-semibold text-gray-800 mb-2">Age Bracket</h2>
  <p class="text-gray-700 whitespace-pre-line">
    <%= @individual_victim.age_bracket&.description || "-" %>
  </p>
</div>

<div class="border-t border-gray-200 pt-6">
  <h2 class="text-lg font-semibold text-gray-800 mb-2">Role of Victim in the Community</h2>
  <p class="text-gray-700 whitespace-pre-line">
    <%= @individual_victim.victim_role || "-" %>
  </p>
</div>

<div class="border-t border-gray-200 pt-6">
  <h2 class="text-lg font-semibold text-gray-800 mb-2">Dependent Details </h2>
  <p class="text-gray-700 whitespace-pre-line">
    <%= @individual_victim.dependent_details || "-" %>
  </p>
</div>
