 <%=render 'shared/progress', current_step: 2, step_name: "#{t(:data_sharing_agreement)}", percent_finished: 10 %>

  <div class="md:mt-0 md:col-span-6 py-5 px-5">
            <h2 class="font-bold text-xl text-gray-900"><%= t(:data_sharing_agreement) %></h2>
            <div>
      <p class="mt-1 text-md text-gray-700 px-4">
       <%= t(:data_sharing_agreement_hint_html) %>
      </p>
 <%= form_for @data_sharing, url: :portal_case_detail_data_sharings  do |f| %>
   <%= render "shared/data_sharings/form", f: f %>
<% end %>
