<div class="max-w-9xl ml-2 mx-auto py-6 sm:px-6 lg:px-8">
  <header>
    <h1 class="text-2xl font-bold text-gray-900 mb-2">Dashboard</h1>
  </header>

  <div class="border-t border-gray-200 mb-5"></div>
  <div>
    <a href="/documenters/case_details" class="mb-4 flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
              <h1 class="text-5xl font-bold text-red-700 my-5 mx-8"><%= CaseDetails::CaseDetail.all.size %></h1>
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white">Total Cases</h5>
            <p class="mb-3 text-sm text-gray-700 dark:text-gray-400"> <%= Criminalizations::Criminalization.submitted_current_year.size %> Submitted this year</p>
        </div>
    </a>
  </div>
  <div class="grid grid-cols-3 gap-4">
  <div>
    <a href="#" class="flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
              <h1 class="text-5xl font-bold text-gray-900 my-5 mx-8"><%= Criminalizations::Criminalization.all.size %></h1>
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white">Criminalizations</h5>
            <p class="mb-3 text-sm text-gray-700 dark:text-gray-400"> <%= Criminalizations::Criminalization.submitted_current_year.size %> Submitted this year</p>
        </div>
    </a>
  </div>

  <div>
    <a href="#" class="flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
              <h1 class="text-5xl font-bold text-gray-900 my-5 mx-8"><%= Killings::Killing.all.size %></h1>
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white">Killings</h5>
            <p class="mb-3 text-sm font-normal text-gray-700 dark:text-gray-400"> <%= Killings::Killing.submitted_current_year.size %> Submitted this year</p>
        </div>
    </a>
  </div>

  <div>
    <a href="#" class="flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
              <h1 class="text-5xl font-bold text-gray-900 my-5 mx-8"><%= HumanRightsViolations::HumanRightsViolation.all.size %></h1>
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white">Other Human Rights Violations</h5>
            <p class="mb-3 text-sm font-normal text-gray-700 dark:text-gray-400"> <%= HumanRightsViolations::HumanRightsViolation.submitted_current_year.size %> Submitted this year</p>
        </div>
    </a>
  </div>
</div>
    <div class="border-t border-gray-200 mt-4 mb-4"></div>
 <%= geo_chart CaseDetails::CaseDetail.joins(:country).group('countries.name').count, width: 200, height: 50, label: 'Cases', options: {background_color: '#548999'} %>
