<div class="max-w-9xl ml-2 mx-auto py-6 sm:px-6 lg:px-8">
  <header>
    <h1 class="text-2xl font-bold text-gray-900 mb-2">Dashboard</h1>
  </header>
  <div class="border-t border-gray-200 mb-5"></div>
  <div class="grid grid-cols-3 gap-4">
  <div>
    <a href="#" class="flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
              <h1 class="text-5xl font-bold text-gray-900 my-5 mx-8"><%= Criminalizations::Criminalization.all.size %></h1>
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white">Criminalizations</h5>
            <p class="mb-3 text-sm text-gray-700 dark:text-gray-400"> <%= Criminalizations::Criminalization.submitted_current_year.size %> Submitted this year</p>
        </div>
    </a>
  </div>

  <div>
    <a href="#" class="flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
              <h1 class="text-5xl font-bold text-gray-900 my-5 mx-8"><%= Killings::Killing.all.size %></h1>
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white">Killings</h5>
            <p class="mb-3 text-sm font-normal text-gray-700 dark:text-gray-400"> <%= Killings::Killing.submitted_current_year.size %> Submitted this year</p>
        </div>
    </a>
  </div>

  <div>
    <a href="#" class="flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
              <h1 class="text-5xl font-bold text-gray-900 my-5 mx-8"><%= HumanRightsViolations::HumanRightsViolation.all.size %></h1>
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white">Other Human Rights Violations</h5>
            <p class="mb-3 text-sm font-normal text-gray-700 dark:text-gray-400"> <%= HumanRightsViolations::HumanRightsViolation.submitted_current_year.size %> Submitted this year</p>
        </div>
    </a>
  </div>
</div>

<div class="p-4 mt-5 max-w-md bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-between items-center mb-4">
        <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Top Countries with Cases</h5>
        <a href="/countries" class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
            View all
        </a>
   </div>
   <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          <% Country.with_top_cases.each do |country| %>
            <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">

                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            <%= country.name %>
                        </p>
                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            <%= country.cases_this_year.size %> cases this year
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                        <%= country.case_count %>
                    </div>
                </div>
            </li>

          <% end %>
        </ul>
   </div>
</div>

 <%= geo_chart CaseDetails::CaseDetail.joins(:country).group('countries.name').count, width: 200, height: 50, label: 'Cases', options: {background_color: '#548999'} %>