 <div class="col-span-3 bg-green-700">
    <h1 class="pt-10 pl-4 font-bold py-5"> Step <%= current_step %>/7:</h1>
    <h3 class="font-bold pl-8"><i class="<%= (1..current_step).include?(1) ? 'fa fa-circle' : 'fa fa-circle-o' %>"></i> <span class="inline-block align-top pl-4">Documenter Details</span></h3>
    <h3 class="font-bold pl-8 pt-4"><i class="<%= (1..current_step).include?(2) ? 'fa fa-circle' : 'fa fa-circle-o' %>"></i> <span class="align-top pl-4">Data Sharing Agreement</span></h3>
    <h3 class="font-bold pl-8 pt-4"><i class="<%= (1..current_step).include?(3) ? 'fa fa-circle' : 'fa fa-circle-o' %>"></i> <span class="align-top pl-4">Incident Details</span></h3>
    <h3 class="font-bold pl-8 pt-4"><i class="<%= (1..current_step).include?(4) ? 'fa fa-circle' : 'fa fa-circle-o' %>"></i> <span class="align-top pl-4">Victims</span></h3>
    <h3 class="font-bold pl-8 pt-4"><i class="<%= (1..current_step).include?(5) ? 'fa fa-circle' : 'fa fa-circle-o' %>"></i> <span class="align-top pl-4">Human Rights Violoations</span></h3>
    <h3 class="font-bold pl-8 pt-4"><i class="<%= (1..current_step).include?(6) ? 'fa fa-circle' : 'fa fa-circle-o' %>"></i> <span class="align-top pl-4">Actions Taken</span></h3>
    <h3 class="font-bold pl-8 pt-4"><i class="<%= (1..current_step).include?(7) ? 'fa fa-circle' : 'fa fa-circle-o' %>"></i> <span class="align-top pl-4">Related Development Projects</span></h3>
  </div>