<div class="max-w-9xl ml-2 mx-auto py-2 sm:px-4 lg:px-4">
<header>
<div class="w-full mb-5 pr-5 py-3">

<div class="relative float-right mb-5" x-data="{ isOpen: false}">
<button
        @click="isOpen = !isOpen"
        @keydown.escape="isOpen = false"
        class="flex items-center"
>
  <span class="text-sm text-gray-500"><%= t(:language_name) %></span>

    <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z" class="heroicon-ui text-gray-500"></path></svg>
</button>
<ul x-show="isOpen"
    @click.away="isOpen = false"
    class="absolute font-normal bg-white shadow overflow-hidden rounded w-48 border mt-2 py-1 right-0 z-20"
>
<li>
<%= button_to 'English (US)', documenters_documenter_locale_path(documenter_id: current_documenter.id,locale: "en"), method: :post, class: "text-sm text-gray-500 flex items-center px-3 py-3 hover:bg-gray-100 w-full" %>
</li>
<li>
<%= button_to 'Spanish', documenters_documenter_locale_path(documenter_id: current_documenter.id,locale: "es"), method: :post, class: "text-sm text-gray-500 flex items-center px-3 py-3 hover:bg-gray-100 w-full" %>
</li>


</ul>
</div>
</div>
<div class="w-full pr-5 py-3">
  <div class="flex justify-between mb-1">
    <span class="text-sm font-medium text-gray-900 dark:text-white pb-2"><%=t(:step) %> <%= current_step %> / 7: <%= step_name %> </span>
    <span class="text-sm font-medium text-gray-900 dark:text-white"><%= percent_finished %>%</span>
  </div>
<div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-600">
  <div class="bg-green-600 h-2.5 rounded-full" style="width: <%= percent_finished %>%"></div>
</div>
    </div>
  </header>
<div class="border-t border-gray-200 mt-2"></div>
</div>
