<div class="max-w-9xl mt-3 mb-3 mx-auto py-2 ml-5 sm:px-4 lg:px-4">
<header>
<div class="w-full pr-5 py-3">
  <div class="flex justify-between mb-1">
    <span class="text-sm font-medium text-gray-900 dark:text-white pb-2"><%=t(:step) %> <%= current_step %> / 7: <%= step_name %> </span>
    <span class="text-sm font-medium text-gray-900 dark:text-white"><%= percent_finished %>%</span>
  </div>
<div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-600">
  <div class="bg-green-600 h-2.5 rounded-full" style="width: <%= percent_finished %>%"></div>
</div>
    </div>
  </header>
<div class="border-t border-gray-200 mt-2"></div>
</div>
