
  <%=render '/ip_rights/shared/sidebar', current_step: 4, step_name: 'Victim Details', percent_finished: 40 %>
  <div data-controller="collective-victim-form" class="col-span-9 bg-white mt-5 px-5">
    <%= simple_form_for @collective_victim, url: :ip_rights_case_detail_collective_victims do |f| %>
    <div class="max-w-7xl mx-auto lg:px-0">
      <h2 class="font-bold text-xl text-gray-900">Group of People Victim Details</h2>
      <div class="md:mt-0 md:col-span-2 bg-white px-4">
          <div>
            <div class="px-4 py-5  space-y-4 sm:p-6">
              <div class="col-span-6 sm:col-span-3">
                <%= f.input :affected_total, as: :text, label: "Number of Affected People", hint: "Specify if number refers to individuals, families, homes, groups, communities, villages etc. (E.g., 100 families, 250 homes)" %>

              </div>
              <fieldset>
                <div class="mt-4 space-y-4">
                   <div class="mt-4 space-y-4">
                    <div class="flex items-center" data-documenter-form-target="referToIndividuals">
                      <%= f.input :refer_to_individuals, label: "Does the number of affected people refer to individuals?", collection: [['No', 'No'], ['Yes', 'Yes']], label_method: :second, value_method: :first, selected: "No", input_html: { data: { action: "collective-victim-form#toggleReferToIndividuals" } }  %>

                  </div>
                  </div>
                </div>
              </fieldset>
              <div class="col-span-6 sm:col-span-3" data-collective-victim-form-target="referToIndividualGroup">
                <%= f.input :victim_details, as: :text, label: "Please provide more information about the victims" %>
              </div>

               <div class="col-span-6 sm:col-span-3 hidden" data-collective-victim-form-target="referToIndividualGroup">
                <%= f.input :male_total, label: "Write the number of MALE from the total number of individuals affected" %>
              </div>

               <div class="col-span-6 sm:col-span-3 hidden" data-collective-victim-form-target="referToIndividualGroup">
                <%= f.input :female_total, label: "Write the number of FEMALE from the total number of individuals affected" %>
              </div>

              <% AgeBracket.all.each do |age_bracket| %>
              <%= f.fields_for :age_bracket_breakdowns do |ff| %>
               <%= ff.hidden_field :age_bracket_id, value: age_bracket.id %>
               <div class="col-span-6 sm:col-span-3 hidden" data-collective-victim-form-target="referToIndividualGroup">
                <%= ff.input :total, label: "Write the number of #{age_bracket.range_name}  from the total number of individuals affected" %>
              </div>
              <% end %>
              <% end %>
              <div class="px-4 py-3 bg-gray-100 text-right sm:px-6">
                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                  Next
                </button>
              </div>
    <% end %>
