<div class="bg-white w-full mt-5 mr-5 mx-auto border border-gray-200 shadow-sm rounded-md divide-y divide-gray-100">
    <div class="ml-5 mt-5 mr-6">
  <h2 class="font-bold text-2xl text-gray-900 mb-6">Criminalization Details</h2>
<div class="flex justify-end space-x-4 mb-8">
     <%= link_to "Back to Case Detail", documenters_case_detail_victims_path(@case_detail), class: "mr-4 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" %>
    <%= link_to 'Edit', edit_documenters_case_detail_criminalization_path(@criminalization.case_detail, @criminalization), class: "mr-4 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" %>
    </div>
  <div class="space-y-4">
    <%= render 'show_row', label: "Why was/were the victim/s criminalized?", value: @criminalization.criminalization_details %>

    <%= render 'show_row', label: "Did the victim/s experience any form of harassment or intimidation prior to criminalization?", value: humanize_yes_no(@criminalization.experienced_harrassment_or_intimidation) %>
    <% if @criminalization.experienced_harrassment_or_intimidation == 'yes' %>
      <%= render 'show_row', label: "If YES, please provide more information", value: @criminalization.harrassment_or_intimidation_details %>
    <% end %>

    <%= render 'show_row', label: "What was/were the accusation/s or charge/s filed against the victim/s?", value: @criminalization.accusation_or_charges_details %>
    <%= render 'show_row', label: "What was/were the policy/ies or law/s or institutional justification/s used against the victim/s?", value: @criminalization.policies_or_laws_used %>

    <% accusers = @criminalization.accuserizations.includes(:accuser_category).map { |a| a.accuser_category.title }.join(', ') %>
    <%= render 'show_row', label: "Who put forward the accusation/s or charge/s against the victim/s?", value: accusers.presence || 'None' %>
    <%= render 'show_row', label: "Please provide more information about the accuser/s", value: @criminalization.accuser_details %>

    <%= render 'show_row', label: "Was/were the accusation/s or charge/s against the victim legally or formally filed?", value: humanize_yes_no(@criminalization.case_filing_status) %>
    <%= render 'show_row', label: "If YES, where was the case/s filed? (e.g., regional court, military court, supreme court, etc.)", value: @criminalization.case_filing_details %>
    <%= render 'show_row', label: "If NO, Please provide more information", value: @criminalization.case_filing_details %>

    <%= render 'show_row', label: "Is there a decision on the legal or formal accusation/s or charge/s filed against the victim/s?", value: humanize_yes_no(@criminalization.case_decision_status) %>
    <%= render 'show_row', label: "Please provide more information", value: @criminalization.case_decision_details %>

    <%= render 'show_row', label: "Is/Are the victim/s in prison or detention facility?", value: humanize_yes_no(@criminalization.victims_in_detention) %>
    <%= render 'show_row', label: "If yes, please provide more information on their conditions or situation in the prison or detention facility—do they know where is the prison or detention facility located? Are they allowed visitors?", value: @criminalization.victims_in_detention_details %>
    <%= render 'show_row', label: "If no, please provide more information on the current situation of the victim/s—Is/Are s/he/they in hiding? Released on bail? Awaiting court trial? On house arrest? etc", value: @criminalization.victims_in_detention_details %>

    <%= render 'show_row', label: "Was/Were there (a) legal case/s filed against the alleged perpetrators on behalf of the victim/s criminalized?", value: humanize_yes_no(@criminalization.case_filing_against_perpetrator) %>
    <%= render 'show_row', label: "If yes, please provide further information: Where is/are the case/s filed? Who filed the case? E.g., victim, family of the victim, support organizations, etc.; any other details of the case/s filed, please share.", value: @criminalization.case_filing_against_perpetrator_details %>
    <%= render 'show_row', label: "If no, please elaborate on your response (e.g. can you provide probable reasons on why there has been no legal case/s filed against the alleged perpetrators? Etc.)", value: @criminalization.case_filing_against_perpetrator_details %>

    <%= render 'show_row', label: "Has the State undertaken any action/s to address the incident of criminalization?", value: humanize_yes_no(@criminalization.state_action_to_address_criminalization) %>
    <%= render 'show_row', label: "If YES, please provide more information on the action/s undertaken, including any relevant results.", value: @criminalization.state_action_to_address_criminalization_details %>
    <%= render 'show_row', label: "If NO, please elaborate on your response", value: @criminalization.state_action_to_address_criminalization_details %>

    <h2 class="font-bold text-xl text-gray-900 pt-5 mt-5 border-t">Impact/s of the Incident/s of Human Rights Violation</h2>

    <%= render 'show_row', label: "How did the incident/s affect the victim/s and his/her/their family?", value: @criminalization.impact_to_victim_details %>
    <%= render 'show_row', label: "How did the incident/s affect the Indigenous Peoples group/s or community/ies and/or organization of the victim/s?", value: @criminalization.impact_to_community_details %>
  </div>
  </div>
</div>


