<%= render '/ip_rights/shared/sidebar', current_step: 7, step_name: "Related Development Projects", percent_finished: 100 %>

<div data-controller="development-project-form" class="col-span-9 bg-white py-10">
  <%= simple_form_for @development_project, url: :ip_rights_case_detail_development_projects do |f| %>
    <div class="max-w-7xl mx-auto lg:px-0">
      <h2 class="font-bold text-xl text-gray-900 pl-6">Details of Development Project</h2>
      <div class="border-t border-gray-200 mt-4"></div>
      <div class="px-4 py-5  space-y-4 sm:p-6">
        <%= f.input :development_project_category_id, label: "Type of Development Project", collection: DevelopmentProjects::Category.all.map{|a| [a.name, a.id] } %>
        <%= f.input :project_name, label: "Name of development project" %>
        <%= f.input :project_description, label: "Description of development project", as: :text %>
        <%= f.input :start_of_operation_year, label: "Indicate year of project's start of operation on the country where the incident of human rights violation happened" %>
        <div data-source-of-data-target="output">
          <span class="block text-sm font-bold text-gray-900 mb-5">Source of information on development project</span>
          <label for="about" class="block text-sm font-bold text-gray-700">
            <%= t(:other_relevant_websites_or_links) %>
          </label>
          <div class="mt-1">
            <%= f.input :project_data_sources, label: false, as: :text,  input_html: { class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md" } %>
          </div>
          <label class="block text-sm font-bold text-gray-700">
            <%= t(:upload_document)%>
          </label>
          <div class="mt-1 flex justify-center px-6 pt-5 border-2 border-gray-300 border-dashed rounded-md pb-5">
            <div class="space-y-1 text-center">
              <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <div class="flex text-sm text-gray-600">
                <label for="file-upload" class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                  <span>Upload a file</span>
                  <%= f.input :documents, label: false, input_html: { multiple: true }, as: :file %>
                </label>
              </div>
              <p class="text-xs text-gray-500">
                PDF, PNG, JPG, GIF up to 10MB
              </p>
            </div>
          </div>
        </div>
        <div class="border-t border-gray-200 mt-4 pb-5"></div>
          <%= f.submit "Proceed", class: 'float-right class="w-full h-12 px-6 text-white transition-colors duration-150 bg-green-700 rounded-lg focus:shadow-outline hover:bg-green-800 mt-4' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
