

<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8 shadow-sm bg-gray-100 px-10">
      <h2 class="mt-8 text-center text-3xl font-bold text-gray-900">Sign in to your account</h2>
    <div>
      <%= image_tag("logo.png") %>
    </div>
    <%= simple_form_for @session, url: documenters_sessions_path do |f| %>
      <%= f.input :email, label: false, placeholder: "Email", class: "my-5 appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
      <%= f.input :password, label: false, placeholder: "Password", class: "my-5 appearance-none relative block w-full px-3 py-10 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
      <%= submit_tag "SIGN IN",  class: "group relative w-full flex justify-center py-2 pt-2 border border-transparent text-sm font-medium text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
    <% end %>
    <%= link_to 'or Access Public Portal', new_portal_documenter_detail_path, class: "pb-10 text-blue-600 link pt-1 flex justify-center" %>
  </div>
</div>
