
<div class="grid grid-cols-12 min-h-screen">
  <div class="col-span-3 bg-green-500">
    <h1 class="pt-10 pl-4 font-bold py-5 px-10"> Step 4/7:</h1>
    <h3 class="pl-2 font-bold pl-8"><i class="fa fa-circle fa-2x"></i> <span class="align-top pl-4 pb-2">Documenter Details</span></h3>
    <h3 class="pl-2 font-bold pl-8 pt-4"><i class="fa fa-circle fa-2x"></i> <span class="align-top pl-4 pb-2">Data Sharing Agreement</span></h3>
    <h3 class="pl-2 font-bold pl-8 pt-4"><i class="fa fa-circle fa-2x"></i> <span class="align-top pl-4 pb-2">Incident Details</span></h3>
    <h3 class="pl-2 font-bold pl-8 pt-4"><i class="fa fa-circle fa-2x"></i> <span class="align-top pl-4 pb-2">Victims</span></h3>
    <h3 class="pl-2 font-bold pl-8 pt-4"><i class="fa fa-circle-o fa-2x"></i> <span class="align-top pl-4 pb-2">Human Rights Violations</span></h3>
    <h3 class="pl-2 font-bold pl-8 pt-4"><i class="fa fa-circle-o fa-2x"></i> <span class="align-top pl-4 pb-2">Actions Taken</span></h3>
    <h3 class="pl-2 font-bold pl-8 pt-4"><i class="fa fa-circle-o fa-2x"></i> <span class="align-top pl-4 pb-2">Development Projects</span></h3>
  </div>

  <div class="col-span-9 bg-white py-10 px-5">
    <%= form_for @collective_victim, url: :fact_sheets_fact_sheet_collective_victims do |f| %>
    <div class="max-w-7xl mx-auto lg:px-0">
      <h2 class="font-bold text-xl text-gray-900">Group of People Victim Details</h2>
      <div class="md:mt-0 md:col-span-2 bg-white px-4">
          <div class="border-t border-gray-200 mt-4"></div>
          <div>
            <div class="px-4 py-5  space-y-4 sm:p-6">
              <div class="col-span-6 sm:col-span-3">
                <label for="first-name" class="block text-sm font-medium text-gray-700 pb-2">Number of Affected People</label>
                <%= f.text_area :affected_total,  class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
                <p class="mt-1 text-sm text-gray-600">
                Specify if number refers to individuals, families, homes, groups, communities, villages etc. (E.g., 100 families, 250 homes)
                </p>
              </div>
              <fieldset>
                <div>
                  <legend class="text-base font-medium text-gray-700 pt-4">Does the number of affected people refer to individuals?</legend>
                </div>
                <div class="mt-4 space-y-4">
                  <div class="flex items-center">
                    <%= f.radio_button :refer_to_individuals, true, class:"focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300"  %>
                    <label for="primary-data" class="ml-3 block text-sm font-medium text-gray-700">
                      Yes
                    </label>
                  </div>
                  <div class="flex items-center">
                    <%= f.radio_button :refer_to_individuals, false, class:"focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300"  %>

                    <label for="primary-data" class="ml-3 block text-sm font-medium text-gray-700">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
              <div class="col-span-6 sm:col-span-3">
                <label for="first-name" class="block text-sm font-medium text-gray-700 pb-2">Please provide more information about the victims</label>
                <%= f.text_area :victim_details,  class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>

               <div class="col-span-6 sm:col-span-3">
                <label for="first-name" class="block text-sm font-medium text-gray-700 pb-2">Write the number of MALE from the total number of individuals affected</label>
                <%= f.text_field :male_total,  class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>

               <div class="col-span-6 sm:col-span-3">
                <label for="first-name" class="block text-sm font-medium text-gray-700 pb-2">Write the number of FEMALE from the total number of individuals affected</label>
                <%= f.text_field :female_total,  class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>

              <% AgeBracket.all.each do |age_bracket| %>
              <%= f.fields_for :age_bracket_breakdowns do |ff| %>
               <%= ff.hidden_field :age_bracket_id, value: age_bracket.id %>
               <div class="col-span-6 sm:col-span-3">
                 <label for="first-name" class="block text-sm font-medium text-gray-700 pb-2">Write the number of <b><%= age_bracket.range_name %></b> from the total number of individuals affected</label>
                <%= ff.text_field :total %>
              </div>
              <% end %>
              <% end %>
              <div class="px-4 py-3 bg-gray-100 text-right sm:px-6">
                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                  Next
                </button>
              </div>
    <% end %>
