<!-- component -->
<body class="bg-gray-400">
		<!-- Container -->
		<div class="container mx-auto">
			<div class="flex justify-center px-6 my-12">
				<!-- Row -->
				<div class="w-full xl:w-3/4 lg:w-11/12 flex">
					<!-- Col -->
					<div
						class="w-full h-auto bg-gray-100 hidden lg:block lg:w-5/12 bg-cover rounded-l-lg">
							<h3 class="pt-4 text-2xl text-center">Create Documenter Account</h3>
					</div>
					<!-- Col -->
					<div class="w-full lg:w-7/12 bg-white p-5">
            <%= simple_form_for @documenter, html: { class: "px-8 pt-6 pb-8 mb-4 bg-white" }, url: :admin_documenters do |f| %>
							<div class="mb-4 md:flex md:justify-between">
								<div class="mb-4 md:mr-2 md:mb-0">
									<label class="block mb-2 text-sm font-bold text-gray-700" for="firstName">
										First Name
									</label>
                  <%= f.input :first_name, label: false,  autofocus: true, placeholder: "First Name", id: "firstName" %>
								</div>
								<div class="md:ml-2">
									<label class="block mb-2 text-sm font-bold text-gray-700" for="lastName">
										Last Name
									</label>
								  <%= f.input :last_name, label: false, placeholder: "Last Name", id: "lastName" %>

								</div>
							</div>
              <div class="mb-4">
								<label class="block mb-2 text-sm font-bold text-gray-700" for="email">
									Organization Name
								</label>
								<%= f.input :organization_name, label: false, placeholder: "Organization Name", id: "organizationName" %>
							</div>

              <div class="mb-4">
								<label class="block mb-2 text-sm font-bold text-gray-700" for="email">
									Phone Number
								</label>
								<%= f.input :phone_number, label: false, placeholder: "Phone Number", id: "phoneNumber" %>
							</div>

							<div class="mb-4">
								<label class="block mb-2 text-sm font-bold text-gray-700" for="email">
									Email
								</label>
								<%= f.input :email, label: false, placeholder: "Email", id: "email"  %>

                <span class="text-gray-500 mb-3"> We will send an activation email to this account </span>
							</div>

							<div class="mb-6 text-center">
                <%= f.submit "Create Account", class: "cursor-pointer w-full px-4 py-2 font-bold text-white bg-blue-500  hover:bg-blue-700 focus:outline-none focus:shadow-outline" %>
							</div>
							<hr class="mb-6 border-t" />
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</body>