<div class="flex mt-5 ml-4">
    <div class="flex items-center h-5">
        <input name="case_details_data_sharing[data_sharing]" id="case_details_data_sharing_data_sharing_restricted" aria-describedby="helper-radio-text" type="radio" value="restricted" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
    </div>
    <div class="ml-2 text-sm">
        <label for="case_details_data_sharing_data_sharing_restricted" class="font-bold text-gray-900"><%= t(:restricted) %></label>
    <p id="case_details_data_sharing_data_sharing_restricted-text" class="text-sm font-normal text-gray-600"><%= t(:restricted_access_to_case_detail) %></p>
    </div>
</div>

 <div class="flex mt-5 ml-4">
    <div class="flex items-center h-5">
        <input name="case_details_data_sharing[data_sharing]" id="case_details_data_sharing_data_sharing_unrestricted" aria-describedby="helper-radio-text" type="radio" value="unrestricted" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
    </div>
    <div class="ml-2 text-sm">
        <label for="case_details_data_sharing_data_sharing_unrestricted" class="font-bold text-gray-900"><%= t(:unrestricted) %></label>
    <p id="case_details_data_sharing_data_sharing_restricted-text" class="text-sm font-normal text-gray-600"><%= t(:unrestricted_access_to_case_detail) %></p>

    </div>
</div>
   <%= f.submit "#{t(:continue)}", class: "float-right mt-5 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>
