<div class="md:col-span-6 mt-6 ml-2">
  <turbo-frame id="case_details" data-turbo-action="advance">
    <div class="flex flex-col sm:flex-row justify-between items-center mt-5 mb-5 gap-3">

      <!-- Search Form replacing the heading -->
      <%= form_tag documenters_case_details_path, method: :get, class: "flex-grow max-w-md relative", data: { turbo_frame: "case_details" } do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search cases", type: "search",
          class: "block w-full p-2.5 pl-10 pr-10 text-sm text-gray-900 rounded-lg border border-gray-300 focus:ring-green-700 focus:border-green-500" %>

        <button type="submit"
          class="absolute right-2 top-1/2 -translate-y-1/2 bg-gray-100 hover:bg-gray-200 focus:ring-2 focus:ring-gray-300 font-medium rounded-lg p-2 h-8 w-8 flex items-center justify-center">
          <svg aria-hidden="true" class="w-4 h-4 text-gray-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
          </svg>
        </button>
      <% end %>

      <!-- Buttons -->
      <div class="flex gap-2 items-center">
        <%= link_to "New Case", new_ip_rights_documenter_detail_path, data: { turbo: false },
          class: "text-white bg-green-700 hover:bg-green-800 focus:ring-2 focus:ring-green-800 font-medium rounded-lg text-sm px-3 py-1.5" %>

        <%= link_to 'Upload', new_documenters_case_import_path, data: { turbo: false },
          class: "py-1.5 px-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-300 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-gray-200" %>
      </div>
    </div>

    <div class="my-4">

      <%= form_tag(documenters_case_details_path, method: :get, data: { controller: "case-details-filter", 'case-details-filter-target': "filterForm", turbo_frame: "case_details" }) do %>
        <div class="flex flex-wrap gap-4 items-center">
          <%= select_tag :country_id,
            options_for_select(Country.order(name: :asc).map { |c| [c.name, c.id] }, params[:country_id]),
            prompt: "--select country--",
            class: "bg-gray-50 text-gray-900 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-64 p-2.5 text-sm",
            data: { action: "change->case-details-filter#submit" } %>

          <%= select_tag :incident_start_year,
            options_for_select(20.years.ago.year..Date.current.year, params[:incident_start_year]),
            prompt: "--select incident year--",
            class: "bg-gray-50 text-gray-900 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-64 p-2.5 text-sm",
            data: { action: "change->case-details-filter#submit" } %>

          <%= select_tag :submission_date_year,
            options_for_select(20.years.ago.year..Date.current.year, params[:submission_date_year]),
            prompt: "--select submission year--",
            class: "bg-gray-50 text-gray-900 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-64 p-2.5 text-sm",
            data: { action: "change->case-details-filter#submit" } %>

          <%= select_tag :tag,
            options_for_select(ActsAsTaggableOn::Tag.order(name: :asc).map{ |tag| [tag.name, tag.name] }, params[:tag]),
            prompt: "--select tag--",
            class: "bg-gray-50 text-gray-900 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-64 p-2.5 text-sm",
            data: { action: "change->case-details-filter#submit" } %>
        </div>
      <% end %>

      <div class="mt-4">

        <% cleaned_params = params.to_unsafe_h.slice(:country_id, :incident_start_year, :submission_date_year, :tag).reject { |_, v| v.blank? } %>

        <% if @country.present? %>
          <%= link_to documenters_case_details_path(cleaned_params.except(:country_id)),
            data: { turbo_frame: "case_details" },
            class: "inline-flex items-center px-3 py-1 text-sm rounded-full bg-gray-100 text-gray-800 hover:bg-gray-200" do %>
            Country: <%= @country.name %> <span class="ml-2 text-red-400 hover:text-red-600 font-bold">✕</span>
          <% end %>
        <% end %>

        <% if params[:incident_start_year].present? %>
          <%= link_to documenters_case_details_path(cleaned_params.except(:incident_start_year)),
            data: { turbo_frame: "case_details", turbo_action: "advance" },
            class: "inline-flex items-center px-3 py-1 text-sm rounded-full bg-gray-100 text-gray-800 hover:bg-gray-200" do %>
            Incident Year: <div class="font-medium ml-1"> <%= params[:incident_start_year] %></div> <span class="ml-2 text-red-400 hover:text-red-600 font-bold">✕</span>
          <% end %>
        <% end %>

        <% if params[:submission_date_year].present? %>
          <%= link_to documenters_case_details_path(cleaned_params.except(:submission_date_year)),
            data: { turbo_frame: "case_details" },
            class: "inline-flex items-center px-3 py-1 text-sm rounded-full bg-gray-100 text-gray-800 hover:bg-gray-200" do %>
            Submission Year: <div class="font-medium ml-1"> <%= params[:submission_date_year] %></div> <span class="ml-2 text-red-400 hover:text-red-600 font-bold">✕</span>
          <% end %>
        <% end %>

        <% if params[:tag].present? %>
          <%= link_to documenters_case_details_path(params.to_unsafe_h.except(:tag)),
            data: { turbo_frame: "case_details", turbo_action: "advance" },
            class: "inline-flex items-center px-3 py-1 text-sm rounded-full bg-gray-100 text-gray-800 hover:bg-gray-200" do %>
            Tagged with: <div class="font-medium ml-1"> <%= params[:tag] %></div> <span class="ml-2 text-red-400 hover:text-red-600 font-bold">✕</span>
          <% end %>
        <% end %>

        <% if params[:country_id].present? || params[:incident_start_year].present? || params[:submission_date_year].present? || params[:tag].present? %> 
          <div class="mt-2 block">
            <%= link_to "Clear Filters", documenters_case_details_path, data: { turbo_frame: "case_details", turbo_action: "advance" },
              class: "items-center px-3 py-1 text-sm rounded-full bg-gray-200 text-gray-700 hover:bg-gray-300" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-span-3">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="mt-2 min-w-full">
              <%= render 'case_details/tables/headers' %>
              <tbody>
                <% @case_details.each do |case_detail| %>
                  <%= render 'case_details/tables/row', case_detail: case_detail %>
                <% end %>
              </tbody>
            </table>
            <div class="mt-5">
              <%== pagy_nav_custom(@pagy) if @pagy.pages > 1 %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </turbo-frame>
</div>
