<header>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-gray-900">Individual Victims</h1>
    </div>
  </header>
<div class="border-t border-gray-200 mb-5"></div>
<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
        <th scope="col" class="py-3 px-6">
            Total Affected
        </th>
            <th scope="col" class="py-3 px-6">
            Individuals?
        </th>
        <th scope="col" class="py-3 px-6">
            Male Total
        </th>
        <th scope="col" class="py-3 px-6">
            Female Total
        </th>
        <th scope="col" class="py-3 px-6">
            Victim Dtetails
        </th>
            </tr>
        </thead>
        <tbody>
          <% @victims.each do |victim| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <%= link_to victim.affected_total, documenters_collective_victim_path(victim.id) %>
                </td>
                <td class="py-4 px-6">
                  <%= victim.refer_to_individuals? %>
                </td>
                <td class="py-4 px-6">
                  <%= victim.male_total %>
                </td>
                <td class="py-4 px-6">
                  <%= victim.female_total %>
                </td>
                <td class="py-4 px-6">
                  <%= victim.victim_details %>
                </td>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>
